<%- include("./partials/header")%>  


    <!--page starts here-->
    <div class="container">
        <%if(movieDump.Response === 'False'){%>
            <h1>Could Not Find the Movie</h1>
        <%} else {%> 
            <div class="row">
                <% movieDump['Search'].forEach((movie)=>{ %>
                <div class="card" style="width: 18rem;">
                    <img src="<%=movie.Poster%>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%=movie.Title%></h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/result/<%=movie.imdbID%>" class="btn btn-primary">More Details</a>
                    </div>
                </div>
                <%})%>
            </div>
            
        <%}%>  

<%- include("./partials/footer") %>   

    
    
        
